# Vagrant build files
.vagrant
*.swp
*.env
volumes
log
ceremony_log
*log
keys
contracts
ansible
id_rsa
id_rsa_conductor
id_rsa_nodes

node_modules/
bridge_deployer/cmd/main
bridge_deployer/token_address
bridge_deployer/token_contract_address
